<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput placeholder="Rechercher" (keyup)="applyFilter($any($event.target).value)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end mt-xs-12 mt-lg-0">
        <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
          Ajouter un consultant
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>




<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container> -->

        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header  class="f-s-16 f-w-600" >Nom</th>
          <td mat-cell *matCellDef="let element" data-label="nom">
            <div class="d-flex align-items-center" >
              <img class="rounded-circle" [src]="element.avatar" width="40" />
              <div class="m-l-16" style="width: 200px; flex-direction: column">
                <p class="f-w-600 mat-subtitle-1 f-s-16 m-t-0">
                  {{ element.nom }} {{element.prenoms}}
                </p>
                <small class="mat-body-1 f-s-14"> {{ element.pole }}</small>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="statu">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="f-s-16 f-w-600">
           Statut
          </th>
          <td mat-cell *matCellDef="let element"  data-label="statu" class="f-s-14">{{ element.statu }}</td>
        </ng-container>

        <ng-container matColumnDef="dateInterco">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="f-s-16 f-w-600">
            Date début Interco
          </th>
          <td mat-cell *matCellDef="let element" data-label="dateInterco" class="f-s-14">
            {{ element.dateInterco | date:'dd/MM/yyyy' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="carence">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="f-s-16 f-w-600">
            Carence
          </th>
          <td mat-cell *matCellDef="let element" data-label="carence" class="f-s-14">
            {{ element.carence }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Email </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.email }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="projets">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="f-s-16 f-w-600">
            Projets
          </th>
          <td mat-cell *matCellDef="let element" data-label="projets" class="f-s-14">
            {{ element.projets }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a (click)="openDialog('Update', element)" class="m-r-10 cursor-pointer"><i-tabler name="edit"
                class="icon-18"></i-tabler></a>
            <a (click)="openDialog('Delete', element)" class="m-r-10 cursor-pointer">
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="this.loading">
        <mat-card class="b-1 shadow-none">
          <mat-card-header style="display: flex; justify-content: center;">
            <mat-card-title>Chargement...</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: center;">
            <mat-spinner></mat-spinner>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
